<p id="notice"><%= notice %></p>
<div id="input-search">
  <%= form_with(url: finder_path, method: :get, local: true) do |f| %>
  <div class="field">
    <%= label_tag :name, 'NAME：' %>
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag :user_id, 'number：' %>
    <%= text_field_tag :user_id %>
  </div>
  <% end %>
</div>


<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.id %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
